.taxi {
    width: 100vw;    
    height: 50vh;  
    object-fit: cover;  
    display: block; 
}



body{
    background-image: url("cool-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}